body {
    /* Set line height to 1.5 times the font size
            and use the OS’s UI font as the website font
        */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 10rem; 
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5rem;
}

ul {
    display: contents
}

li {
    display: contents;
}

nav {
    display: flex;
    margin-bottom: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(50% 10% 200 / 40%);
}

nav a {
    flex: 1;
}

a.current {
    border-bottom-width: 0.4em;
    border-bottom-color: oklch(50% 10% 200 / 40%);
    padding-bottom: 0.5em;
    border-bottom-style: solid;

}

:root {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
}

a:hover {
    border-bottom-width: 0.4em;
    border-bottom-color: var(--color-accent);
    padding-bottom: 0.5em;
    border-bottom-style: solid;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

input,
textarea {
    font: inherit;
}

button {
    grid-column: 1 / -1;
    font: inherit;
}

form {
    /* display: block;
    width: 100%;
    margin-block: 0.5em; */

    /* box-sizing: border-box; */
    /* display: block; */
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-column: 1 / -1;3git st */
    gap: 1em;
}

.projects {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.projects img {
    width: 100%;  
    object-fit: cover;
}


article {
    display:grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin: 0
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1; 
    text-wrap: balance; 
}

.resume {
    text-align: left;
}
.resume nav, .resume h1 {
    text-align: center;
}

/* For theme changing */
  
html {
    color-scheme: light dark;
    color: canvastext;
  }

.color-scheme {
    display: flex;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
    }